@using EncryptionService.Core.Models.Hashing
@using EncryptionService.Web.Models.HashingViewModels

@model HashingViewModel

@{
	ViewData["Title"] = "Hashing";
}

<h1 class="mb-5">Hashing</h1>

<form class="w-100" asp-controller="Hashing" asp-action="Index" method="post">

	<select class="mb-3" name="HashingMethod">
		<option selected="@(Model != null && Model.HashingMethod == @HashingMethod.Checksum)" value="@HashingMethod.Checksum">Checksum</option>
		<option selected="@(Model != null && Model.HashingMethod == @HashingMethod.MiddleSquares)" value="@HashingMethod.MiddleSquares">Middle Squares Method</option>
		<option selected="@(Model != null && Model.HashingMethod == @HashingMethod.ModuloDivision)" value="@HashingMethod.ModuloDivision">Modulo Division Method</option>
		<option selected="@(Model != null && Model.HashingMethod == @HashingMethod.BaseConversion)" value="@HashingMethod.BaseConversion">Base Conversion Method</option>
		<option selected="@(Model != null && Model.HashingMethod == @HashingMethod.Folding)" value="@HashingMethod.Folding">Folding Method</option>
	</select>

	<div class="form__group field">
		<input asp-for="TextToHash" class="form__field" placeholder="Text" />
		<label asp-for="TextToHash" class="form__label">Text</label>
	</div>

	@if (Model != null && Model.GeneratedHash != null)
	{
		<p>Hash: <span class="encryption-result-text">@Model.GeneratedHash</span></p>
	}

	<div class="form-group mb-3">
		<button type="submit" name="actionType" value="Hash" class="button">Hash</button>
	</div>

	<div class="form__group field">
		<input asp-for="TextToVerify" class="form__field" placeholder="Text" />
		<label asp-for="TextToVerify" class="form__label">Text</label>
	</div>

	<div class="form__group field">
		<input asp-for="HashToVerify" class="form__field" placeholder="Hash" />
		<label asp-for="HashToVerify" class="form__label">Hash</label>
	</div>

	@if (Model != null && Model.VerificationResult != null)
	{
		<p>
			Result:
			@if (Model.VerificationResult.Value)
			{
				<span class="text-success"><b>Valid</b></span>
			}
			else
			{
				<span class="text-danger"><b>Invalid</b></span>
			}
		</p>
	}

	<div class="form-group mb-3">
		<button type="submit" name="actionType" value="Verify" class="button">Verify</button>
	</div>

	<span asp-validation-for="TextToHash" class="text-danger"></span>
	<span asp-validation-for="TextToVerify" class="text-danger"></span>
	<span asp-validation-for="HashToVerify" class="text-danger"></span>
</form>